//Color

$white: rgb(255, 255, 255);
$dark-navy: rgb(38, 22, 118);
$blue: rgb(36, 98, 255);
$pink-gradient: linear-gradient(to bottom,#FE71FE, #7199ff  );
$blue-gradient: linear-gradient(to bottom, #344ABA, rgba(0,20,121,0.83));

$desktop-breakpoint: 1440px;
$tablet-breakpoint: 768px;
$sm-breakpoint: 375px;
