@font-face {
    font-family: 'Mouse Memoirs';
    src: url("../fonts/MouseMemoirs-Regular.ttf");
}


html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-family: 'Mouse Memoirs', sans-serif;
    background-image: url('../images/backgrounds/desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    caret-color: transparent;
}

// Desktop Screens

.headingXL {
    font-size: 13.6rem;
    line-height: 120%;
    letter-spacing: 0.05em;
}

.headingL {
    font-size: 8.8rem;
    line-height: 120%;
    letter-spacing: 0.05em;
}

.headingM {
    font-size: 4.8rem;
    line-height: 120%;
    letter-spacing: 0.05em;
}

.headingS {
    font-style: normal;
    font-size: 3.2rem;
    line-height: 120%;
    letter-spacing: 0.05em;
}

.body {
    font-size: 2.6rem;
    line-height: 120%;
    letter-spacing: 0.05em;
}

.title {
    position: relative;
    background: linear-gradient(180deg, #67B6FF 16.42%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-align: center;
    margin: 0;

    &::before {
        content: attr(data-text);
        position: absolute;
        left: 0;
        -webkit-text-stroke: 1.8rem #243041;
        z-index: -1;
    }

}

@media screen and (max-width: $tablet-breakpoint) {
    body {
        background-image: url('../images/backgrounds/tablet.svg');
    }
}

@media screen and (max-width: $sm-breakpoint) {
    body {
        background-image: url('../images/backgrounds/mobile.svg');
    }
}